.contact-us {

	.icon {
		position: relative;

		&:hover {

			.contact-rollover {
				//display: block;
				@include media-query (sm) {
					@include opacity(1);
				}
			}
		}
	}

	.contact-rollover {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include rem('padding-top', 90px);
		@include border-radius(50%);
		background: #c71263;
		//display: none;
		@include opacity(0);
		@include transition-duration(.2s);
		font-family: 'Georgia', serif;
		@include font-size(17px);
		font-weight: bold;
		color: #fff;
	}

	.icon.linkedin:hover {
		color: #c71263;
	}
}
